{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^[_,e]",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
