{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:vitest/recommended"],
  "plugins": ["vitest"],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^[_,e]",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
